cs
.bsp/scala-cli.json
.metals/metals.lock.db
.metals/metals.log
.metals/metals.mv.db
.metals/.tmp/classpath_4DD0FB8A266A355F21E832ED64B2A009.jar
.scala-build/ide-envs.json
.scala-build/ide-inputs.json
.scala-build/ide-launcher-options.json
.scala-build/ide-options-v2.json
.scala-build/.bloop/EIS_6dd50dab72-test.json
.scala-build/.bloop/EIS_6dd50dab72.json
.scala-build/.bloop/EIS_6dd50dab72/EIS_6dd50dab72-analysis.bin
.scala-build/.bloop/EIS_6dd50dab72/bloop-internal-classes/main-XBkgzEgbSiGGoHTr2h7iQw==/Count_Down.class
.scala-build/.bloop/EIS_6dd50dab72/bloop-internal-classes/main-XBkgzEgbSiGGoHTr2h7iQw==/Count_Down$package.class
.scala-build/.bloop/EIS_6dd50dab72/bloop-internal-classes/main-XBkgzEgbSiGGoHTr2h7iQw==/Count_Down$package.tasty
.scala-build/.bloop/EIS_6dd50dab72/bloop-internal-classes/main-XBkgzEgbSiGGoHTr2h7iQw==/Count_Down$package$.class
.scala-build/.bloop/EIS_6dd50dab72/bloop-internal-classes/main-XBkgzEgbSiGGoHTr2h7iQw==/countDown.class
.scala-build/.bloop/EIS_6dd50dab72/bloop-internal-classes/main-XBkgzEgbSiGGoHTr2h7iQw==/countDown.tasty
.scala-build/.bloop/EIS_6dd50dab72/bloop-internal-classes/main-XBkgzEgbSiGGoHTr2h7iQw==/META-INF/semanticdb/src/Blatt_1/Count_Down.java.semanticdb
.scala-build/.bloop/EIS_6dd50dab72/bloop-internal-classes/main-XBkgzEgbSiGGoHTr2h7iQw==/META-INF/semanticdb/src/Blatt_1/Count_Down.scala.semanticdb
.scala-build/EIS_6dd50dab72/classes/main/Count_Down.class
.scala-build/EIS_6dd50dab72/classes/main/Count_Down$package.class
.scala-build/EIS_6dd50dab72/classes/main/Count_Down$package.tasty
.scala-build/EIS_6dd50dab72/classes/main/Count_Down$package$.class
.scala-build/EIS_6dd50dab72/classes/main/countDown.class
.scala-build/EIS_6dd50dab72/classes/main/countDown.tasty
.scala-build/EIS_6dd50dab72/classes/main/META-INF/semanticdb/src/Blatt_1/Count_Down.java.semanticdb
.scala-build/EIS_6dd50dab72/classes/main/META-INF/semanticdb/src/Blatt_1/Count_Down.scala.semanticdb
.vscode/settings.json
src/Martina/using Statistics, Distributions, Random,.jl
src/Martina/univariate.txt
